#controls{
    background-color: rgb(14, 94, 144);
    top:100px;
    left:5px;
}
/*

.lightBorder {
    margin-top: 100px;
    margin-bottom: 20px;
}
*/

#tutorial{
    background-color: white;
    margin-top: 25px;
}


.row{
    text-align: center;
    width: 100%;
    line-height: 60px;
}

.col1 {
    margin:25px;
}

.col2{
    margin-top: 100px;
}


.btn {
    width: 50px;
    height: 50px;
    color:black;
    font-size: 22px;
    box-shadow: none;
    border: 0;          
    overflow: hidden;
}

.btnn {
    width: 15px;
    height: 15px;
    color:rgb(0, 0, 0);
    font-size: 22px;
    box-shadow: none;
    border: 0;          
    overflow: hidden;
    margin-left: 10px;
}

.btn2 {
    width: 50px;
    height: 50px;
    color:black;
    font-size: 22px;
    box-shadow: none;
    border: 0;          
    overflow: hidden;
    margin: 12.5px;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #F3F3F3;
    cursor: url('./icon/mousearrow.png');
}

input[type="range"]{
    -webkit-appearance:none; 
    width:225px;
    height:5px;
    outline : none;      
    background: #F3F3F3;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative; 
    width:18px;
    height:18px;
    background:rgb(81, 81, 81);
    border-radius:50%;
    transition:.2s;
  }
  
  input[type="range"]::-webkit-slider-thumb:before,
  input[type="range"]::-webkit-slider-thumb:after
  {
    -webkit-appearance: none;
    position: absolute;
    top: 3px;
    width: 2000px;          
    height: 4px;
    content:"";
    pointer-events: none;   
    transition:.2s;
  }
